/* ######## CSS do Cabeçalho ########## */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background: linear-gradient(#87CEFA, #FEFEFE);
	padding: 10px;
	width: 100%;
	min-width: 350px;
}
header .conteiner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 980px;
	height: 80px;
	margin: auto;
	min-width: 350px;
}
header nav ul {
	display: flex;
}
header nav ul li {
	list-style: none;
}
header nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #000000;
	padding: 20px;
	transition: all 250ms linear 0s;
}
header nav li a:hover {
	color: #FEFEFE;
	text-shadow: #000000 1px 1px;
}
header .conteiner img {
	height: 70px;
}
#checkbox-menu {
	display: none;
}

/* ################################# CSS da página inicial ##################################### */
main {
	background: #FEFEFE;
}
.banner {
    text-align: center;
	width:  100%;
	height: 60%;
	padding:  10px 0;
	border-radius: 10px;
}
.banner > img {
	opacity: 0.7;
	box-shadow: 10px 5px 5px black;
	border-radius: 15px;
}
.apresentacao {
    justify-content: center;
    padding: 0px 45px;
    border-radius: 10px;
    margin: 50px auto;
    width: 600px;
	box-shadow: 1px 1px 10px 1px;

 }
 .titulo-apresentacao {
	text-align: center;
	font-size: 2em;
	padding: 10px;
	font-family: 'Grape Nuts', cursive;
    font-family: 'Vollkorn', serif;
    margin: 40px -10px 0px -4px;
}
.apresentacao p {
	font-family: 'montserrat', sans-serif;
    font-size: 20px;
    text-align: inherit;
    padding: 10px;
    width: 100%;
	
}
.ecobag {
	float: right;
	width: 320px;
	height: fit-content;
	padding-top: 20px;
	box-shadow: 1px 1px 1px 1px;

}
video {
	display: block;
	margin: 0 auto;
    padding: 20px;
}
#titulo-video {
	display: flex;
	flex-direction: column;
	font-family: 'Vollkorn', serif;
	text-align: center;
	font-size: 25px;
	margin: 0 0px -30px;
}
.titulo-mapa {
	text-align: center;
	font-size: 22px;
	font-family: 'Grape Nuts', cursive;
    font-family: 'Vollkorn', serif;
    margin: 20px;
}
.mapa {
	background: linear-gradient(#FEFEFE, #87CEFA);
}
.mapa p {
	margin: auto;
    display: table;
    background: #87CEFA;
}
.posicao-mapa {
	margin: auto;
	display: block;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer-alternativo {
	background: linear-gradient(#FEFEFE, #87CEFA);

}
footer {
	text-align: center;
	background: #87CEFA;
	padding: 50px 0;
}
.copyright {
	font-size: 15px;
    padding:  20px;
}    
/* ############################################ CSS da página de contatos ############################################ */
form {
	margin: 40px 40px;
}
form label {
    display: block;
    font-size: 20px;
    margin: 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;

}
form legend {
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
}
.checkbox {
	margin: 20px;
}
.enviar {
	width: 40%;
	padding: 15px 0;
	background: #87CEFA;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
}
.enviar:hover {
	background: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	color: #87CEFA;
	cursor: pointer;
}
/*################################### CSS da página do jogo #################################*/
main .jogo {
	display: inline-block;
	width: 100%;
}
#jogo {
	width: 1200px;
	height: 800px;
	padding-left: 15px;
}
.texto-jogo {
	text-align: center;
	font-size: 18px;
	font-family: 'Vollkorn', serif;
}
.texto-jogo li {
	padding: 10px;
	font-weight: bold;
}
.palavra-vermelha {
	color: red;
	display: inline-block;
}
